body, html {
  height: 100vh;
}

a, a:hover {
  color: inherit;
}

#root {
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  position: fixed;
}

.content {
  overflow-y: auto;
  height: 100vh;
}

.profile-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.sidebar-segment {
  border-top: 0 !important;
  border-bottom: 0 !important;
  border-left: 0 !important;
  border-radius: 0 !important;
}

.sidebar-grid {
  height: 100% !important;
}

.sidebar-menu {
  border: 0 !important;
  box-shadow: none !important;
}

.home-container {
  height: 100% !important;
  padding-top: 5em !important;
}

.project-container {
  height: 100% !important;
  padding-top: 2em !important;
}

.project-container > div:first-child {
  width: 100% !important;
}
